services:
  - type: web
    name: corn-disease-detector
    env: python
    plan: free
    branch: main
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0